.custom_item {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 33px;
    box-shadow: 0 8px 26px -11px;
    margin: 6px auto;
}

.item1 {
    background: #FFEB3B;
}

.item2 {
    background: #FF80AB;
}

.item3 {
    background: #64FFDA;
}

.item4 {
    background: #FF9E80;
}

.item5 {
    background: #69F0AE;
}

.item6 {
    background: #FFD54F;
}