<ion-header>
    <ion-toolbar>
        <ion-title>For You</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-text-center" style="justify-content: center;">
            <ion-col size="6">
                <div (click)="gs.appShare()" class="custom_item item1">
                    <ion-icon name="share-social-outline"></ion-icon>
                </div>
                <p style="margin-bottom:0">Share App</p>
            </ion-col>
            <ion-col size="6">
                <div (click)="gs.appRate()" class="custom_item item2">
                    <ion-icon name="star-outline"></ion-icon>
                </div>
                <p style="margin-bottom:0">Rate App</p>
            </ion-col>
            <ion-col size="6">
                <div (click)="goInCalculator()" class="custom_item item3">
                    <ion-icon name="calculator-outline"></ion-icon>
                </div>
                <p style="margin-bottom:0">Age calculator</p>
            </ion-col>
            <ion-col size="6">
                <div (click)="goInHistory()" class="custom_item item4">
                    <ion-icon name="time-outline"></ion-icon>
                </div>
                <p style="margin-bottom:0">History</p>
            </ion-col>
            <!-- <ion-col size="6">
                <div class="custom_item item4">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
            </ion-col> -->
            <ion-col size="6">
                <div (click)="gs.saveDateModal('')" class="custom_item item6">
                    <ion-icon name="person-add-outline"></ion-icon>
                </div>
                <p style="margin-bottom:0">Add Date</p>
            </ion-col>
            <ion-col size="6">
                <div (click)="gs.appRate()" class="custom_item item5">
                    <ion-icon name="speedometer-outline"></ion-icon>
                </div>
                <p style="margin-bottom:0">Check Update</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>