<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button color="danger" tab="overview">
            <ion-icon name="calculator-outline"></ion-icon>
            <ion-label>Calculator</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="famous">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>My Date</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="history">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>History</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="more">
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label>For You</ion-label>
        </ion-tab-button>



    </ion-tab-bar>
</ion-tabs>