<ion-list>
    <ion-item button (click)="gs.saveDateModal('')">
        <ion-icon color="secondary" slot="start" name="person-add-outline"></ion-icon>
        <ion-label>Save My Date</ion-label>
    </ion-item>
    <ion-item button (click)="gs.appShare()">
        <ion-icon color="secondary" slot="start" name="share-social-outline"></ion-icon>
        <ion-label>Share App</ion-label>
    </ion-item>
    <ion-item button (click)="gs.appRate()">
        <ion-icon color="secondary" slot="start" name="star-outline"></ion-icon>
        <ion-label>Rate Us</ion-label>
    </ion-item>
    <ion-item button (click)="gs.appRate()">
        <ion-icon color="secondary" slot="start" name="sync-circle-outline"></ion-icon>
        <ion-label>Check Update</ion-label>
    </ion-item>
</ion-list>